.cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 10;
    
}


.logo{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo__img{
    width: 70%;
}

.menu{
    width: 60%;
}

.menu__lista{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item{
   width: 20%;
    text-align: center;
}

.menu__item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--azul-normal); 
    text-align: center;
    text-transform: uppercase;

}
.menu__item a:hover{
    color: var(--azulzinho);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    transform: 0.6s all;
}
.menu__item:hover{
    color: var(--azulzinho);
    border-bottom: 1px solid var(--azulzinho);
    transition: 0.6s all;
}

