.saiba-mais {
    width: 100%;
    margin: 115px auto 2em auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    height: calc(90vh - 104px);
    border: 1px solid var(--azulzinho);
    border-radius: 16px;

    text-align: center;

    padding: 1.5em 3em;

    margin: 6.5em 0; 
}

.container__titulo {
    border-bottom: none;
}

